/* css */
@media screen and (max-width: 2800px) {
  h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1200px) {
  h3 {
    font-size: 35px;
  }
}

@media screen and (max-width: 900px) {
  h3 {
    font-size: 25px;
  }
}

.title {
font-family: Bowlby One, cursive;
font-style: normal;
font-weight: normal;
text-align: center;
z-index: 2;
font-size: 60px;
}

.arrayData {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  font-family: Yaldevi Colombo, sans-serif;
}

h3 {
  font-size: 35px;
    font-family: Sunflower, sans-serif;
}

.intro {
  text-align: center;
}

/* BUTTONS */
a {
  padding: 15px 25px 15px 25px;
  border: 10px;
  font-size: 24px;
  font-family: Bowlby One, cursive;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: #FFE5A3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  letter-spacing: 8px;
}

a:hover {
  background-color: #E0C377
  color: #FFFFFF;
  text-decoration: none;
}

a:active {
  background-color: #E0C377;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-decoration: none;
}

.difButton {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #9AC6BB;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.difButton:hover {background-color: #6F988E}

.difButton:active {
  background-color: #6F988E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.descr {
  text-align: center;
}

.facts {
  text-align: center;
}
